<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성시간</th>
        <th>조회수</th>
        <th>좋아요</th>
    </tr>
    <tr th:each ="board:${boardPage}">
        <td th:text="${board.boardId}"></td>
        <td>
            <a th:text = "${board.boardTitle}" th:href="'/board/' + ${board.boardId}"></a>
        </td>
        <td th:text="${board.userId}"></td>
        <td th:text="${board.boardCreated}"></td>
        <td th:text="${board.boardPass}"></td>
        <td th:text="${board.boardLike}"></td>
    </tr>
</table>

<a th:if="${board!=null && boardPage.hasPrevious()}"
   th:href="@{'/my/board?page=' + (${boardPage.number - 1}) + '&size=5'}">이전</a>
<span th:if="${board!=null}" th:text="${boardPage.number + 1} + '/' + ${boardPage.totalPages}"></span>
<a th:if="${board!=null && boardPage.hasNext()}"
   th:href="@{'/my/board?page=' + (${boardPage.number + 1}) + '&size=5'}">다음</a>

<a th:if="${admin!=null && boardPage.hasPrevious()}"
   th:href="@{'/userBoard/' + ${userId} + '?page=' + (${boardPage.number - 1}) + '&size=5'}">이전</a>
<span th:if="${admin!=null}" th:text="${boardPage.number + 1} +'/' + ${boardPage.totalPages}"></span>
<a th:if="${admin!=null && boardPage.hasNext()}"
   th:href="@{'/userBoard/' + ${userId} + '?page=' + (${boardPage.number + 1}) + '&size=5'}">다음</a>

</body>
</html>